.definition{
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70%;
    text-align: center;
}

.head{
    margin: 0 0 30px 0;
}

.video{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

.def-para{
    margin-bottom: 40px;
    font-size: 40;
}

#main-p {
  text-align: justify;
  font-size: 20px;
}