@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital@1&display=swap');

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  overflow-x: hidden;
}

.logo{
  width: 400px;
  height: 300px;
  margin-top: 0;
}

#top-content {
  height: 95vh;
  margin: 0;
  background: url('../images/learning.jpg');
  background-position: 0px 0px;
  background-repeat: no-repeat;

  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
  /* background-size: auto 100%; */

  animation: animatedBackground 120s linear infinite alternate;
  /* background-size: 100% 100%; */

}


#top-header {
  padding-top: 20px;
  text-align: center;
  color: white;
}

#top-header h1 {
  font-size: 6rem;
  font-family: 'Fraunces', serif;
  color: white;
  margin: 0;
}

#hovering-row {
  padding-top: 10vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.hover-p {
  text-align: center;
  font-size: 1.3rem;
  color: #777;
}

.hover-p:hover {
  color: #fff;
}

.o{
  color: #f3a94e;
}